{% extends 'divider.html' %}
{% load static %}


{% block menu %}
<div class="uk-navbar-right">
    <a class="uk-link-muted" href="{% url 'account:home' %}"> &#129044; Back to campgrounds</a>
</div>
{% endblock %}

{% block first %}
     
            <div>
        
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="uk-fieldset">
                
                        <h1 class="">Start exploring camps from all around the world</h1>
                        {% if error %}
                            <p class="uk-text-danger">{{error}}</p>
                        {% endif %}
                        
                        <div class="uk-margin">
                            <p class="uk-margin-small-bottom">Username</p>
                            {{form.username}}
                            {% for error in form.username.errors %}
                                <p class="uk-text-meta uk-text-danger uk-margin-remove-top">{{error}}</p>
                            {% endfor %}
                        </div>
                
                        <div class="uk-margin">
                            <p class="uk-margin-small-bottom">Password</p>

                            {% if login %} 

                                {{form.password}}
                                {% for error in form.password.errors %}
                                    <p class="uk-text-meta uk-text-danger uk-margin-remove-top">{{error}}</p>
                                {% endfor %}

                            {% else %}

                                {{form.password1}} 
                                {% for error in form.password1.errors %}
                                    <p class="uk-text-meta uk-text-danger uk-margin-remove-top">{{error}}</p>
                                {% endfor %}

                            {% endif %}
                        </div>
    
                        <button class="uk-button uk-button-secondary yelp-btn">{{btntext}}</button>

                        {% if login %}
                        <span>Not a user yet? <a href="{% url 'account:signup' %}">Create an account</a></span>
                        {% else %}
                        <span>Already a user? <a href="{% url 'account:login' %}">Sign in</a></span>
                        {% endif %}
                
                    </fieldset>
                </form>
        
        
            </div>


{% endblock  %}


{% block second %}

<div class="uk-position-relative uk-flex aside" style="">
    <div class="padding-large@l padding-small@m">
        <div class="padding@l">
            <h2 class="testimony">"YelpCamp has honestly saved me hours of research time, and the camps on here are definitely well picked and added."</h2>
            <div class="uk-flex uk-inline">
                <img src="{% static 'assets/user_testimonial.svg' %}" alt="">
                <dl class="uk-description-list uk-description-list-divider uk-margin-small-left">
                    <dt style="font-weight: 900;text-transform: capitalize;">May Andrews</dt>
                    <dd>Professional hiker</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

{% endblock %}