{% extends 'menu.html' %}

{% block content %}

<div class="uk-margin">

    <div class="uk-width-xlarge uk-margin-auto">

        <form method="post">
            {% csrf_token %}
            <fieldset class="uk-fieldset">
        
                <h2 class="uk-text-left">Add New Campground</h2>
        
                <div class="uk-margin">
                    <p class="yelp-label">Campground Name</p>
                    {{form.name}}
                </div>
        
                <div class="uk-margin">
                    <p class="yelp-label">Price</p>
                    {{form.price}}
                </div>

                <div class="uk-margin">
                    <p class="yelp-label">Image</p>
                    {{form.image}}
                </div>

                <div class="uk-margin">
                    <p class="yelp-label">Location</p>
                    {{form.address}}
                </div>

                <div class="uk-margin">
                    <p class="yelp-label">Description</p>
                    {{form.description}} 
                </div>

                <button type="submit" class="uk-button uk-button-secondary yelp-btn">Add New Campground</button>

            </fieldset>
        </form>
    </div>


</div>

{% endblock  %}