{% extends 'menu.html' %}

{% block content %}

<div class="uk-margin">

    <div class="uk-width-large uk-margin-auto">

        <form>
            <fieldset class="uk-fieldset">
        
                <h2 class="uk-text-left">Add New Comment</h2>

                <div class="uk-margin">
                    <p class="yelp-label">Description</p>

                    <textarea class="yelp-input" 
                    placeholder="This was probably the best camp i've visited this past year, definitely recommend visiting any time soon" 
                    name="" id="" cols="30" rows="10"></textarea>
                    <button class="uk-button uk-button-secondary yelp-btn">Post Comment</button>
                </div>
        
            </fieldset>
        </form>
    </div>


</div>

{% endblock  %}