{% extends 'menu.html' %}

{% block content %}

<div class="uk-margin">

    <div class="uk-width-large uk-margin-auto">

        <form method="post">
            {% csrf_token %}
            <fieldset class="uk-fieldset">
        
                <h2 class="uk-text-left">Add New Comment</h2>

                <div class="uk-margin">
                    <p class="yelp-label">Description</p>
                    {{form.comment}}
                    <button class="uk-button uk-button-secondary yelp-btn">Post Comment</button>
                </div>
        
            </fieldset>
        </form>
    </div>


</div>

{% endblock  %}