{% extends 'menu.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
{% endblock  %}

{% block content %}

<div class="row">

    <div class="col uk-flex-first@l uk-flex-last">
        <div class="uk-card uk-card-small uk-card-default uk-padding-small camp-card uk-margin">
            <div class="uk-padding">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe style="width:100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q={{camp.address|cut:" "}}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-7">

        <div class="uk-card uk-card-small uk-card-default uk-padding-small camp-card uk-margin">

            <div class="uk-padding">

                <div class="uk-card-media-top">
                    <img src="{{camp.image}}" alt="">
                </div>
    
                <div class="uk-text-left">
                    <div class="uk-flex-inline uk-width-1-1 uk-flex-between uk-flex-middle">
                        <h3 class="camp-card-title">{{camp.name}}</h3>
                        <p class="uk-margin-small">$ {{camp.price}}/night</p>
                    </div>
                    <p class="camp-card-desc uk-margin-large-right@l">{{camp.description}}</p>
                    
                    <p class="uk-margin"><i>Submitted by {{camp.user.username|title}}</i></p>
                </div>

            </div>

        </div>


        <div class="uk-card uk-card-small uk-card-default uk-padding-small camp-card uk-margin" id="yelp-comment-section">

            <div class="uk-padding uk-margin-top uk-padding-remove-top">
                <ul class="uk-list uk-list-divider">

                    {% if comments %}
                        {% for comm in comments %}
                            <li>
                                <div class="uk-flex-inline uk-width-1-1 uk-flex-between uk-flex-middle">
                                    <h5 class="camp-card-title">{{comm.user.username|title}}</h5>
                                    {% comment %} <p>{{comm.created_at|timesince}} ago</p> {% endcomment %}
                                    <p>{{comm.whenpublished}}</p>
                                </div>

                                <p class="uk-margin-remove-top">{{comm.comment}}</p>
                            </li>
                        {% endfor %}
                    {% else %}
                            <li><p class="uk-text-muted uk-text-center">Be the first to comment.</p></li>
                    {% endif %}
                
                </ul>

                <div class="uk-text-right">

                    <a href="{% url 'campgrounds:comment' camp.id %}" class="uk-button uk-button-secondary yelp-btn yelp-btn-auto-width">
                        <svg class="uk-margin-small-right" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                            <path d="M12 3.5C17.514 3.5 22 7.092 22 11.507C22 16.424 16.855 19.468 12.09 19.468C10.153 19.468 8.707 19.071 7.696 18.824C6.696 19.437 6.101 19.861 3.424 20.644C3.959 19.271 4.147 17.896 4.026 16.379C3.188 15.379 2.001 13.979 2.001 11.507C2 7.092 6.486 3.5 12 3.5ZM12 1.5C5.662 1.5 0 5.726 0 11.507C0 13.557 0.738 15.57 2.047 17.132C2.102 18.962 1.024 21.588 0.054 23.5C2.656 23.03 6.355 21.992 8.032 20.964C9.45 21.309 10.807 21.467 12.091 21.467C19.175 21.467 24.001 16.63 24.001 11.506C24 5.695 18.299 1.5 12 1.5ZM8.5 11.5C8.5 12.329 7.829 13 7 13C6.172 13 5.5 12.329 5.5 11.5C5.5 10.671 6.172 10 7 10C7.829 10 8.5 10.671 8.5 11.5ZM12 10C11.172 10 10.5 10.671 10.5 11.5C10.5 12.329 11.172 13 12 13C12.829 13 13.5 12.329 13.5 11.5C13.5 10.671 12.829 10 12 10ZM17 10C16.172 10 15.5 10.671 15.5 11.5C15.5 12.329 16.172 13 17 13C17.829 13 18.5 12.329 18.5 11.5C18.5 10.671 17.829 10 17 10Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0">
                            <rect width="24" height="24" fill="white" transform="translate(0 0.5)"/>
                            </clipPath>
                            </defs>
                            </svg>
                            Leave a review
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>


{% endblock %}