{% extends 'divider.html' %}
{% load static %}


{% block first %}

    <div class="img-mobile" style="background-image: url({% static 'assets/hero_mob.jpg' %});"></div>
    <h1 class="hero-title">Explore the best camps on Earth.</h1>
    <p class="hero-desc uk-width-large">YelpCamp is a curated list of the best camping spots on
        Earth. Unfiltered and unbiased reviews.</p>

    <ul class="uk-list uk-margin-small">
        <li>
            <span class="uk-margin-small-right">
                <img src="{% static 'assets/dot.svg' %}" />
            </span>
            Add your camping suggestions
        </li>

        <li>
            <span class="uk-margin-small-right">
                <img src="{% static 'assets/dot.svg' %}" />
            </span>
            Leave reviews and experiences
        </li>

        <li>
            <span class="uk-margin-small-right">
                <img src="{% static 'assets/dot.svg' %}" />
            </span>
            See locations for all camps
        </li>
    </ul>

    <a href="{% url 'account:home' %}" class="uk-button uk-button-secondary yelp-btn yelp-btn-auto-width">View Campgrounds</a>

    <p>Partnered with:</p>
    <ul class="uk-iconnav">
        <li>
            <img src="{% static 'assets/airbnb.svg' %}" alt="Airbnb Logo" />
        </li>

        <li>
            <img src="{% static 'assets/booking.svg' %}"  alt="Booking Logo"/>
        </li>

        <li>
            <img src="{% static 'assets/plum.svg' %}" alt="Plum Guide Logo" />
        </li>
    </ul>

{% endblock %}

{% block second %}

<div class="side-img"
    style="height: 100%; background-size: cover;width: 100%;background-image: url({% static 'assets/herodesk.jpg' %});">
</div>

{% endblock second %}